.container-with-header {
	width: 100%;
	height: calc(100% - 64px);
	background-color: #e0e0e0;
}


.row {
	margin: 8px;
}

table, td {
	border: 1px solid #bfbfbf;
	padding:6px;
	width:100%;
}

thead {
	background-color: #e0e0e0;
	color: #303030;
}

.spacer {
	flex: 1 1 auto;
}
