.content {
	margin: 12px;
}

.row {
	margin: 8px;
}

table, td {
	border: 1px solid #bfbfbf;
	padding:6px;
	width:100%;
}

thead {
	background-color: #e0e0e0;
	color: #303030;
}

button {
	background-color: #c9c9ca;
	color: #cefbf7;
	padding: 12px;
	margin: 8px;
	border-radius: 8px;
	border-color: #e0e0e0;
	font-size: 16px;
	font-weight: 700;
	text-shadow: -1px -1px #a5a5a5;
}

textarea {
	width:100%;
	border: 1px solid #bfbfbf;
}

.title-bar {
	background-color: #404040;
	color: #e6e5e5;
	font-size: 24px;
	padding: 12px;
	font-weight: 900;
	box-shadow: 0 4px 2px #202020;
	text-shadow: 4px 4px #202020;
}
