<div class="title-bar">Twwwwittttter!</div>
<div class="content">

	<div *ngIf="!user">

		<div class="row">
			username:<input type="text" [(ngModel)]="username">
		</div>
		<div class="row">
			password:<input type="password" [(ngModel)]="password">
		</div>
		<div class="row">
			<button (click)="onLogin()">Login</button>
		</div>
		<div class="row">
			<button (click)="onRegister()">Regist</button>
		</div>
		<div class="row">{{message}}</div>

	</div>

	<div *ngIf="user">

		<div class="row">
			<table>
				<thead>
				<tr>
					<th colspan="2">Tweets</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let tweet of tweets">
					<td style="width: fit-content;">{{tweet.content.username}}</td>
					<td>{{tweet.content.text}}</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<textarea [(ngModel)]="tweetText"></textarea>
		</div>
		<div class="row">
			<button (click)="onTweet()">Tweet!</button>
		</div>

		<div style="margin:8px">
			<button (click)="onLogout()">Logout</button>
		</div>

	</div>

</div>
