<div class="title-bar">Twwwwittttter!</div>
<div class="content">

	<div *ngIf="!user">

		<div class="row">
			username:<input type="text" [(ngModel)]="username">
		</div>
		<div class="row">
			password:<input type="password" [(ngModel)]="password">
		</div>
		<div class="row">
			<button (click)="onLogin()">Login</button>
		</div>
		<div class="row">
			<button (click)="onRegister()">Regist</button>
		</div>
		<div class="row">{{message}}</div>

	</div>

	<div *ngIf="user">

		<app-tweet></app-tweet>

		<div style="margin:8px">
			<button (click)="onLogout()">Logout</button>
		</div>

	</div>

</div>
