<ng-container>

	<div fxLayout="row">
		<mat-card style="margin:12px;">
			<mat-card-header>
				<mat-card-title>Password Checker...</mat-card-title>
			</mat-card-header>
			<mat-card-content fxLayout="column">
				<mat-form-field>
					<mat-label>Password...</mat-label>
					<input matInput (change)="Check()" type="text" autocomplete="off" [(ngModel)]="password" #password_field="ngModel" name="password_field" required/>
					<mat-error *ngIf="password_field.errors?.required">入力してください</mat-error>
				</mat-form-field>
			</mat-card-content>
		</mat-card>

		<mat-card style="margin:12px;">
			<mat-card-header>
				<mat-card-title>Strength</mat-card-title>
			</mat-card-header>
			<mat-card-content fxLayout="column">
				<div fxLayout="row" fxLayoutAlign="end">
					<div style="font-size:32px;">{{strength}}{{unit}}</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<div fxLayout="row">

		<mat-card style="margin:12px;">
			<mat-card-header>
				<mat-card-title>Password Checker...</mat-card-title>
			</mat-card-header>
			<mat-card-content fxLayout="column">
				<mat-form-field>
					<mat-label>Testing Password...</mat-label>
					<input matInput (change)="Brute()" type="text" autocomplete="off" [(ngModel)]="testpass" #testpass_field="ngModel" name="testpass_field" required/>
					<mat-error *ngIf="testpass_field.errors?.required">入力してください</mat-error>
				</mat-form-field>
			</mat-card-content>
		</mat-card>

		<mat-card style="margin:12px;">
			<mat-card-header>
				<mat-card-title>Answer</mat-card-title>
			</mat-card-header>
			<mat-card-content fxLayout="column">
				<div>{{candidate}}</div>
				<mat-list style="height:300px;overflow: scroll;">
					<mat-list-item *ngFor="let answer of answers">
						{{answer}}
					</mat-list-item>
				</mat-list>
				<button (click)="Clear()" color="warn" mat-button>Clear</button>
				<button (click)="test()" color="warn" mat-button>test</button>
			</mat-card-content>
		</mat-card>
	</div>

</ng-container>

