<ng-container>
	<mat-card style="margin:12px;">
		<mat-card-header>
			<mat-card-title>Password Checker...</mat-card-title>
		</mat-card-header>
		<mat-card-content fxLayout="column">
			<form #form2="ngForm" fxFlex fxLayout="row" novalidate>
				<button mat-raised-button color="warn" style="margin:12px;" [disabled]="password_field.errors?.required" (click)="Check()">Check</button>
				<mat-form-field>
					<mat-label>Password...</mat-label>
					<input matInput type="text" autocomplete="off" [(ngModel)]="password" #password_field="ngModel" name="password_field" required/>
					<mat-error *ngIf="password_field.errors?.required">入力してください</mat-error>

				</mat-form-field>
			</form>
		</mat-card-content>
	</mat-card>

	<mat-card style="margin:12px;">
		<mat-card-header>
			<mat-card-title>Strength</mat-card-title>
		</mat-card-header>
		<mat-card-content fxLayout="column">
			<div>{{sec}}秒</div>
			<div>{{min}}分</div>
			<div>{{hour}}時間</div>
			<div>{{days}}日</div>
			<div>{{mon}}か月</div>
			<div>{{year}}年</div>
			<div>{{myear}}万年</div>
			<div>{{byear}}億年</div>
			<div>{{tyear}}兆年</div>
			<div>{{qyear}}京年</div>
		</mat-card-content>
	</mat-card>

</ng-container>

